<div class="pb-1 flex justify-between items-center pt-1">
  <h2>Notifications</h2>
</div>
<table class="table-vroom">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date</th>
      <th>Objet</th>
    </tr>
  </thead>
  <tbody>
    @for(notification of visibleNotifications; track notification ? notification.id : $index) {
      @if (notification) {
        <tr>
            <td>{{ notification.nom }}</td>
            <td>{{ notification.date }}</td>
            <td>{{ notification.contenu }}</td>
        </tr>
      } @else {
        <!-- Ligne vide -->
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      }
    }
  </tbody>
</table>


@if (notifications.length > visibleCount) {
  <button class="btn-primary mx-auto my-4" (click)="loadMore()">Voir plus</button>
}
