<div class="relative border-2 border-[var(--color-light-orange)] rounded-md p-4">
  <span class="absolute -top-3 left-3 bg-background px-2"> Récap. du véhicule :</span>

  <div class="flex gap-4 mt-2">
    <div class="space-y-1.5">
        <p>{{marque()}} {{modele()}} {{motorisation()}}</p>
        <p>{{nbDePlaces()}} places</p>
        <p>{{categorie()}}</p>
        <p>{{pollution()}} CO²/km</p>
    </div>
    <img src="/assets/images/Car.svg" alt="Voiture" class="w-auto h-32 object-cover hidden md:block" />
    </div>
</div>