<div
  class="flex-1 bg-[url('/assets/images/background.svg')] bg-cover bg-left bg-no-repeat flex items-center justify-center p-4 sm:p-6"
>
  <div class="bg-white rounded-lg shadow-xl w-full max-w-lg">
    <div class="p-6 sm:p-8 max-h-[90vh] overflow-y-auto">
      
      <!-- On connecte le formulaire et la méthode onSubmit -->
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
        
        <h1 class="text-2xl font-bold text-center">S'inscrire</h1>

        <!-- Groupe User -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div>
            <label for="nom" class="block font-medium mb-1">Nom</label>
            <input type="text" id="nom" formControlName="nom" class="input-large w-full" />
          </div>
          <div>
            <label for="prenom" class="block font-medium mb-1">Prénom</label>
            <input type="text" id="prenom" formControlName="prenom" class="input-large w-full" />
          </div>
        </div>
        <div>
          <label for="email" class="block font-medium mb-1">Mail</label>
          <input type="email" id="email" formControlName="email" class="input-large w-full" />
        </div>
        <div>
          <label for="password" class="block font-medium mb-1">Mot de passe</label>
          <input type="password" id="password" formControlName="motDePasse" class="input-large w-full" />
        </div>
        <div>
          <label for="password-confirm" class="block font-medium mb-1">Confirmer mot de passe</label>
          <input type="password" id="password-confirm" formControlName="confirmerMotDePasse" class="input-large w-full" />
        </div>

        <!-- Section Véhicule -->
        <fieldset class="border-t pt-4">
            <div class="flex items-center gap-2">
                <input type="checkbox" id="ajouterVehicule" formControlName="ajouterVehicule" class="h-4 w-4 rounded">
                <label for="ajouterVehicule" class="font-medium">Ajouter un véhicule (optionnel)</label>
            </div>
            
            <!-- Le groupe de formulaire pour le véhicule -->
            <div formGroupName="vehicule" class="flex flex-col gap-4 mt-4">
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="marque" class="block text-sm font-medium mb-1">Marque</label>
                        <input type="text" id="marque" formControlName="marque" class="input-large w-full" />
                    </div>
                    <div>
                        <label for="modele" class="block text-sm font-medium mb-1">Modèle</label>
                        <input type="text" id="modele" formControlName="modele" class="input-large w-full" />
                    </div>
                </div>
                <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <div>
                        <label for="motorisation" class="block text-sm font-medium mb-1">Motorisation</label>
                        <select id="motorisation" formControlName="motorisation" class="input-large w-full">
                            <option value="" disabled>Sélectionner...</option>
                            @for (motor of motorisations; track $index) {
                                <option  [value]="motor">{{ motor }}</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="nbDePlaces" class="block text-sm font-medium mb-1">Places restantes</label>
                        <input type="number" id="nbDePlaces" formControlName="nbDePlaces" class="input-large w-full" />
                    </div>
                </div>
                <div>
                    <label for="categorie" class="block text-sm font-medium mb-1">Catégorie</label>
                    <select id="categorie" formControlName="categorie" class="input-large w-full">
                        <option value="" disabled>Sélectionner...</option>
                        <!-- LA MAGIE EST ICI -->
                         @for (cat of categories; track $index) {
                             <option  [value]="cat">{{ cat.replace(/_/g, ' ') | titlecase }}</option>
                         }
                    </select>
                </div>
                <div>
                    <label for="infosSupp" class="block text-sm font-medium mb-1">Infos supp :</label>
                    <textarea id="infosSupp" formControlName="infosSupp" class="input-large w-full resize-none" rows="3"></textarea>
                </div>
            </div>
        </fieldset>
        
        <button type="submit" class="btn-modal self-center mt-4">
        </button>
      </form>
    </div>
  </div>
</div>