<div class="bg-navFooter w-full">
  <div class="container flex flex-col sm:flex-row justify-between items-center text-xs">
    <div class="flex items-center gap-8">
      <img
        src="assets/icons/logoVroomVroomCar.svg"
        alt="Logo VroomVroomCar"
        class="w-[75px]"
      />
      <div>
        <p class="pb-1">VroomVroomCar n'est pas une marque déposée</p>
        <p>©VroomVroomCar 2025</p>
      </div>
    </div>
    <a
      href="https://github.com/Projet-Fil-Rouge-Groups-03"
      target="_blank"
      rel="noopener"
      class="cursor-pointer underline"
      >En savoir plus</a
    >
  </div>
</div>
