<div
  class="flex-1 bg-[url('/assets/images/background.svg')] bg-cover bg-left bg-no-repeat flex items-center justify-center p-4 sm:p-6"
>   <div class="bg-white rounded-lg shadow-xl w-full max-w-lg">
    <div class="p-6 sm:p-8 max-h-[90vh] overflow-y-auto">
        
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-6">
        <h1 class="text-2xl font-bold text-center">Connexion</h1>
        @if (errorMessage) {
          <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
            {{ errorMessage }}
          </div>
        }
        <div class="grid grid-cols-1 gap-4">
            <label for="mail" class="block mb-1">Adresse mail :</label>
            <input
                id="mail"
                type="email"
                formControlName="mail"
                class="input-large w-full"
                [class.border-red-500]="loginForm.get('mail')?.touched && loginForm.get('mail')?.invalid"

                 />
            @if (loginForm.get('mail')?.touched && loginForm.get('mail')?.invalid) {
            <div class="text-red-500 text-sm mt-1">
                {{ getFieldError('mail') }}
              </div>
            }
        </div>

        <div class="grid grid-cols-1 gap-4">
            <label for="motDePasse">Mot de passe :</label>
            <input 
                id="motDePasse" 
                type="password" 
                formControlName="motDePasse"
                class="input-large w-full"
                [class.border-red-500]="loginForm.get('motDePasse')?.touched && loginForm.get('motDePasse')?.invalid" />
            @if (loginForm.get('motDePasse')?.touched && loginForm.get('motDePasse')?.invalid) {
            <div class="text-red-500 text-sm mt-1">
                {{ getFieldError('motDePasse') }}
              </div>
            }
        </div>
        <label><a>Mot de passe oublié ?</a></label>

        <button
            type="submit" 
            class="btn-modal self-center mt-4"
            [disabled]="loginForm.invalid"
            [class.opacity-50]="loginForm.invalid"
        >Se connecter</button>
        </form>
    </div>
    </div>
</div>