<div class="pb-1 flex justify-between items-center">
  <h2>Mes prochains trajets</h2>
  <img
    src="assets/icons/Add.svg"
    alt="Ajouter un covoiturage"
    class="cursor-pointer"
    (click)="openModalAdd()"
    title="Organiser un nouveau covoiturage"
  />
</div>

<!-- Tableau affichant les trajets -->
<table class="table-vroom">
  <thead>
    <tr>
      <th>Date et heure de départ</th>
      <th>Départ</th>
      <th>Arrivée</th>
      <th>Type véhicule</th>
      <th>Places</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

    @for (trip of displayTrips; track trip ? trip.id : $index) {
      <!-- Cas 1 : C'est un vrai trajet (l'objet n'est pas null) -->
      @if (trip) {
        <tr class="cursor-pointer" (click)="openModalDetails(trip)">
          <td class="flex justify-between">
            <span>{{ trip.dateDebut | date:'dd/MM/yyyy' }}</span>
            <span>{{ trip.heureDepart }}</span>
          </td>
          <td>{{ trip.villeDepart }}</td>
          <td>{{ trip.villeArrivee }}</td>
          <td>type vehicule ici</td>
          <td>{{ trip.nbPlacesRestantes }}/{{ trip.car?.nbDePlaces || '?' }}</td>
          <td class="">
            <button type="button" title="Modifier le trajet" class="cursor-pointer" (click)="openModalEdit(trip)">
              ✏️
            </button>
            <button type="button" class="cursor-pointer text-xl" title="Supprimer le trajet" (click)="deleteTrip(trip.id)">
              🗑️
            </button>
          </td>
        </tr>
      } @else {
        <!-- Cas 2 : C'est une ligne vide (l'objet est null) -->
        <tr class="">
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      }
    }
  </tbody>
</table>

@if (trips.length > ROWS_TO_DISPLAY) {
  <button class="btn-primary mx-auto my-4">Voir plus</button>
}

<!-- Modale d'ajout / d'edition -->
<app-add-edit-carpooling-modal
  #addEditModal
  (saved)="onCarpoolSaved($event)"
></app-add-edit-carpooling-modal>